[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "2.33.0"
constructs = ">=10.0.0,<11.0.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
